#welcome {
    background: linear-gradient(90deg, rgba(0, 185, 255, 1) 20%, rgba(0, 255, 98, 1) 80%);
    color: #FF4500;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}

p {
    max-width: 700px;
    text-align: justify;
    font-size: 22px;
}

.line {
    width: 750px;
    height: 5px;
    background-color: #FF4500;
}

#hobby {
    background-color: #7CFC00;
    color: #FF4500;
    font-size: 24px;
    padding-top: 625px;
    margin-left: -10;
    margin-right: -10;
}

#akshat_image {
    margin-top: 50px;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    border: 5px groove
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
    max-width: 400px;
    text-align: justify;
}

.menu {
    top: 15px;
    right: 30px;
    list-style: none;
    z-index: 99;
    position: fixed;
    text-shadow: 2px 2px lightgrey;
}

.l {
    float: right;
    padding: 10px;
    font-size: 16px;
}

.l:hover {
    cursor: pointer;
    background-color: orange;
    color: blueviolet;
    text-decoration-color: antiquewhite;
}

#name {
    font-family: 'Benne', serif;
    font-size: 36px;
}

#my_work {
    background: linear-gradient(90deg, rgba(255, 111, 0, 1) 40%, rgba(0, 255, 98, 1) 60%);
    padding-top: 2px;
    margin-left: -10;
    margin-right: -10;
    color: blue;
}

img {
    width: 500px;
    height: 450px;
    border: 5px groove blue;
    border-radius: 20px;
}

p {
    text-align: center;
    color: blue;
}

body {
    height: 0px;
}

html {
    scroll-behavior: smooth;
}

#inspiration {
    background: linear-gradient(90deg, rgba(255, 111, 0, 1) 20%, rgba(0, 146, 255, 1) 80%);
    color: red;
    margin-top: -22;
    margin-left: -10;
    margin-right: -10;
    padding-top: 2;
    padding-bottom: 50px;
}
#contact{
    background: linear-gradient(90deg, rgba(255,25,0,1) 30%, rgba(0,228,255,1) 70%);
    margin-top: -30;
    margin-left: -10;
    margin-right: -10;
    padding-top: 2;
    color: lawngreen;
}
.inspiration_image {
    margin-right: 40;
    transition: transform .5s;
}
img:hover {
    transform: scale(0.75)
}
.contact_a a {
    text-decoration: none;
    text-shadow: none;
    font-size: 28px;
}
.contact_a h3 {
    display: inline;
}
#social_media{
    font-size: 28px;
}
#contact{
    padding-top: 20px;
}